.infoShow{
    color: rgb(207, 207, 207);
    font-weight:bold ;
    margin-left: 4%;
}

.margin_left_left{
    margin-left: 120px;;
}

.showHeight{
    height: 400px;
    margin-top: 40px;
}

.lMarginTop{
margin-Top: 30px;
}

.lMarginBottom{
margin-bottom: 110px;
    }

